<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.lab3">
    <application
        android:label="lab3">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCW4TGHqV6Jf-YJZYwGQ9o715FFnqVp6xQ"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
